# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
**/build/
**/.gradle/
**/.idea/
local.properties

# iOS
**/Pods/
**/DerivedData/

# VS Code / IntelliJ
.vscode/
.idea/
*.iml

# Other
*.log
